---
import Layout from '../layouts/Layout.astro';
import { SEO } from "astro-seo";
import "../styles/global.css";
import Comosejuega from '../components/Comosejuega.astro';
import Frase from '../components/Frase.astro';
import ContenidodelaCaja from '../components/ContenidodelaCaja.astro';
import Diferencias from "../components/Diferencias.astro";
import DiferenciaItem from '../components/DiferenciaItem.astro';
import Testimonio from '../components/Testimonio.astro';
import DondeCompro from '../components/DondeCompro.astro';
import HechoEnArgentina from '../components/HechoEnArgentina.astro';
import OtrosJuegos from '../components/OtrosJuegos.astro';
import { Image } from 'astro:assets';
import memotocFicha from '../assets/images/memotoc/memotoc_ficha.png';
import memotocTablero from '../assets/images/memotoc/memotoc_tablero.png';
import memotocFichas from '../assets/images/memotoc/memotoc_fichas.png';
import memotocCaja from '../assets/images/memotoc/caja_memotoc.png';
import flecha from '../assets/images/flecha-naranja.png';
import maria from '../assets/images/memotoc/maria_de_los_angeles_fernandez.png';
import ficha1 from '../assets/images/memotoc/memotoc_ficha_01.png';
import ficha2 from '../assets/images/memotoc/memotoc_ficha_02.png';
import ficha3 from '../assets/images/memotoc/memotoc_ficha_03.png';
import ficha4 from '../assets/images/memotoc/memotoc_ficha_04.png';
import sello from '../assets/images/memotoc/sello_buen_diseno.png';
import cajatesuena from '../assets/images/caja-tesuena.png';
import cajadomitoc from '../assets/images/caja-domitoc.png';
import cajatateti from '../assets/images/caja-tateti.png';


const textos = {
  modalidad: "Pueden jugar de 2 a 4 personas.\nBásica: 1 tablero, 6 pares de fichas.\nAvanzada: 2 tableros, 12 pares de fichas.",
  preparacion: "Coloca los pares de fichas en el tablero de forma aleatoria, con la textura hacia abajo.",
  dinamica: "Por turnos, cada jugador elige dos fichas y las palpa con los dedos sin darlas vuelta.Si coinciden, forma una pareja y juega de nuevo. Si son distintas, vuelven al tablero y el contrincante tiene dos turnos.\nGana quien más pares logre juntar.",
}

const frase = "Un juego que invita a explorar el mundo a través del tacto, donde cada textura es un nuevo descubrimiento.";

const contenidoCaja = {
    tituloFichas: "24 fichas",
    textoFichas: "12 pares de fichas texturizadas.",
    tituloTablero: "2 tableros",
    textoTablero: "Para jugar en modalidad básica o avanzada.",
    tituloManuales: "2 manuales",
    textoManuales: "Un manual impreso y un manual en braile."
}

const textosDiferencias = {
  titulo: "¿Cuál es la diferencia con cualquier otro juego de memoria?",
  bajada: "Memotoc sirve para desarrollar la habilidad táctil. Cada ficha está texturizada, lo que lo convierte en una herramienta única para el entretenimiento y para la terapia."
}

const itemsDiferencias = [
    {
        titulo: "Es un juego inclusivo y adaptativo",
        bajada: "Para niños y niñas mayores a 3 años de edad. Para adultos mayores, ayuda a ejercitar el cerebro, contribuyendo a la prevención de enfermedades relacionadas con la memoria. Memotoc es un juego accesible para personas con discapacidad visual.",
        imagen: ficha1,
        flecha: flecha,
        imagenAlt: "Desarrollo sensorial auditivo"
    },
    {
        titulo: "Es ideal para aplicación terapéutica",
        bajada: "Memotoc ayuda a interactuar con pacientes desde lo lúdico. Se adapta perfectamente a sesiones de terapia ocupacional tanto con niños como con adultos. Beneficioso para usar en terapias de desarrollo como TEA",
        imagen: ficha2,
        flecha: flecha,
        imagenAlt: "Herramienta terapéutica"
    },
    {
        titulo: "Fortalece las funciones cognitivas",
        bajada: "Ayuda a la atención, la memoria y las funciones ejecutivas. Desarrolla capacidades fundamentales para conductas eficaces, creativas y socialmente adaptadas. Potencia la orientación espacial.",
        imagen: ficha3,
        flecha: flecha,
        imagenAlt: "Inclusión y accesibilidad"
    },
    {
        titulo: "Favorece la integración sensorial",
        bajada: "Ayuda al cerebro a organizar e interpretar la información que recibe del entorno. Este proceso es fundamental para generar respuestas adaptadas a diferentes situaciones.",
        imagen: ficha4,
        flecha: flecha,
        imagenAlt: "Aprendizaje lúdico"
    },
    {
        titulo: "Es un juego con buen diseño",
        bajada: "Memotoc (registro 4079) fue galardonado con el Sello Buen Diseño en la 11ª edición del certamen organizado por el Ministerio de Producción de la Nación",
        imagen: sello,
        flecha: flecha,
        imagenAlt: "Experiencia multisensorial"
    }
];

const testimonios = [
    {
        cita: "Memotoc facilita de forma lúdica a abordar recuerdos, sentimientos y sensaciones que ayudan un montón en el trabajo terapéutico. Emociona, moviliza y abre el camino para buscar dentro de sì las mejores herramientas afectivas.", 
        imagen: maria,
        nombre: "María de los Angeles Fernández",
        cargo: "Psicòloga Infanto Juvenil. Asesora Familiar Vincular JUGARAPIA (@jugarapia)",
        cargoLink: "https://www.instagram.com/jugarapia/"
    }
];

const mercadoLibreUrl = "https://articulo.mercadolibre.com.ar/MLA-1462475365-juego-de-memoria-tactil-de-texturas-_JM";

const dondeCompro = {
    titulo: "¿Dónde puedo conseguir Memotoc?", 
};

const otrosJuegos = [
    {
        nombre: "Te suena",
        imagen: cajatesuena.src, 
        link: "/tesuena"
    },
    {
        nombre: "Domitoc",
        imagen: cajadomitoc.src, 
        link: "/domitoc"
    },
    {
        nombre: "Tateti",
        imagen: cajatateti.src, 
        link: "/tateti"
    }
];

---

<Layout 
  title="Te suena - Juego de memoria sensorial auditivo | Evos"
  description="Te suena es un juego de memoria sensorial auditivo diseñado para estimular los sentidos"
  image="URL_DE_TU_IMAGEN"
>
  <main class="tesuena">
    
      <div class="hero">
        <div class="hero__title">
          <h1>Memotoc <span>Juego de memoria sensorial táctil</span></h1>
        </div>
        <div class="hero__img-container">
          <div class="hero__img">
            <Image 
              src={memotocFicha} 
              alt="Te suena - Juego de memoria sensorial auditivo" 
              class="hero__item"
              width={453}
              height={453}
              quality="high"
            />
          </div> 
          <div class="hero__pattern">
            <svg width="100%" height="100%" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
              <!-- Primera fila -->
              <circle cx="100" cy="100" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
              <circle cx="300" cy="100" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
              <circle cx="500" cy="100" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
              <circle cx="700" cy="100" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
              
              <!-- Segunda fila -->
              <circle cx="100" cy="300" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
              <circle cx="300" cy="300" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
              <circle cx="500" cy="300" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
              <circle cx="700" cy="300" r="80" stroke="currentColor" stroke-width="1" fill="none"/>
            </svg>
          </div>
      </div>
      <Comosejuega 
      modalidad={textos.modalidad}
      preparacion={textos.preparacion}
      dinamica={textos.dinamica}
    />
    <div class="tablero">
      <div class="tablero-1"> </div>
      <div class="tablero-2"> </div>
      <div class="tablero-3"> 
        <Image
        src={memotocTablero}
        alt="Tablero de Te Suena con 8 pares de fichas"
        width={1300}
        height={800}
        quality="high"
        class="tablero__item"
      />
      </div>
      
    </div>
    
    </div>
   
    
  
    <Frase texto={frase} />

    <div class="fichas__img">
      <Image
        src={memotocFichas}
        alt="Tablero de Te Suena con 8 pares de fichas"
        width={596}
        height={400}
        quality="high"
        class="tablero__item"
      />
    </div>


    
    <ContenidodelaCaja 
      tituloFichas={contenidoCaja.tituloFichas}
      textoFichas={contenidoCaja.textoFichas}
      tituloTablero={contenidoCaja.tituloTablero}
      textoTablero={contenidoCaja.textoTablero}
      tituloManuales={contenidoCaja.tituloManuales}
      textoManuales={contenidoCaja.textoManuales}
    />
 

   <div class="caja">
    <div class="caja-1"></div>
    <div class="caja-2"></div>
    <div class="caja-3">

        <Image
          src={memotocCaja}
          alt="Tablero de Te Suena con 8 pares de fichas"
          width={720}
          height={500}
          quality="high"
          class="caja__item"
        />
     
    </div>
   </div> 
 
    

    <Diferencias
      titulo={textosDiferencias.titulo}
      bajada={textosDiferencias.bajada}
    >
      {itemsDiferencias.map((item, index) => (
        <DiferenciaItem 
          {...item}
          invertido={index % 2 === 0}
        />
      ))}
    </Diferencias>
    

    <div class="testimonio_container">
      <div class="testimonio_1"></div>    
      <div class="testimonio_2"></div>  
     
      {testimonios.map((testimonio) => (
        <Testimonio {...testimonio} />
      ))}
  
    </div>
    
    <DondeCompro 
      titulo={dondeCompro.titulo}
      mercadoLibreLink={mercadoLibreUrl}
    />
    
<div class="argentina_container">
    <div class="argentina_1"></div>
    <div class="argentina_2"></div>
    <HechoEnArgentina />
</div>

    <OtrosJuegos 
    juegos={otrosJuegos} />
  
  </main>
</Layout>

<style>

/* Highlight color */
:global(::selection) {
  background-color: var(--orange-dark);
  color: white;
}

:global(::-moz-selection) {
  background-color: var(--orange-dark);
  color: white;
}

main {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 4rem;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    "hero"
    "frase"
    "fichas"
    "contenidocaja"
    "caja"
    "diferencias"
    "testimonios"
    "dondecompro"
    "argentina"
    "otrosjuegos";
}



  /* Estilos generales */
  .tesuena :global(h1){
    color: var(--orange);
  }
  .tesuena :global(h2),
  .tesuena :global(h3),
  .tesuena :global(h4) {
    color: var(--violet);
  }

  h1 span {color: var(--text-color)}

  /* Comosejuega */
  :global(.comosejuega__grid dt)  {
    color: var(--orange);
  }
  :global(.comosejuega__grid dl)  {
    border-color: var(--orange);
  }

  /* Estilos para Hero */
  .hero{
    width: calc(100% - 2rem);
    background-color: var(--cremita);
    border-radius: clamp(1rem, 3vw, 2rem);
    margin:0 auto;
    display: grid;
    gap: clamp(2rem, 5vw, 4rem);
   
  }
  .hero__title {
    text-align: center;
    padding: var(--padding-fluid);
  
  }

  .hero__img-container {
    position: relative;
    display: grid;
    place-items: center;
   
  }

  .hero__img {
    max-width: clamp(120px, 20vw, 453px);
    margin: 0 auto;
    z-index: 2;
    position: sticky;
    top: 20%;
   
  }

  .hero__pattern {
    width: 100%;
    aspect-ratio: 2/1;
    margin-top: clamp(-4rem, -10vw, -8rem);
    background-position: center 0;
    background-size: 100% auto;
  }

  .hero__pattern svg {
    width: 100%;
    height: 100%;
    color: var(--violet);
    z-index: 1;
  }

  .tesuena {
    background-color: var(--violet);
  }  

  /* Estilos para TABLERO */
  .tablero {
    width: 100%;
    background-color: var(--violet);
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 100%;
    grid-template-areas:
    "corte1"
    "corte2"
    "img"
    ;
   
  }

  .tablero-1 {
    grid-area: corte1;
    background-color: var(--cremita);
    border-radius: 0 0 4rem 4rem;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .tablero-2 {
    grid-area: corte2;
    background-color: var(--violet);
    height: auto;
    position: relative;
    z-index: 1;
  }

  .tablero-3 {
    grid-area: img;
    grid-row: corte1 / corte2;
    position: relative;
    z-index: 2;
    margin-top: -2rem; /* Slight negative margin to reduce pixel gap */
  }

  .tablero__item {
   
    height: auto;
  }
/* Estilos para FICHAS */
  .fichas__img {
    padding: var(--padding-fluid);
    margin: 0 auto;
    grid-row:fichas;
  }

/* Estilos para CAJA */
.caja {
  width: 100%;
  background-color: var(--violet);
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 100%;
  grid-template-areas:
  "corte1"
  "corte2"
  "img"
  ;
  margin-bottom: -4rem;
}


.caja-1 {
  grid-area: corte1;
  background-color: var(--violet);
 
 height: auto;

}
.caja-2 {
  grid-area: corte2;
  background-color: var(--cremita);
  border-radius:4rem 4rem  0 0 ;
  height: auto;

}

.caja-3 {
  grid-area: img;
  grid-row: corte1 / corte2;
  max-width: 30rem;
    width: 100%;
    margin: 0 auto;
    padding: var(--padding-fluid);
}

.tesuena :global(.contenidocaja) {
    background-color: var(--orange);
  }

  .tesuena :global(.contenidocaja h2),
  .tesuena :global(.contenidocaja dt),
  .tesuena :global(.contenidocaja dd),
  .tesuena :global(.frase)
  {
    color: var(--background-color);
  }

  :global(.juego-item){
    background-color: #744584;
  }

/* Estilos para TESTIMONIOS */

.testimonio_container {
  width: 100%;
  background-color: var(--cremita);
  margin: 0 auto;
  display:grid;
  grid-area:testimonios;
  grid-auto-columns: 100%;
  grid-template-areas:
  "testimonio1"
  "testimonio2"
  "testimonio3"
  ;
  margin-top: -4rem;
}

.testimonio_1 {
  grid-area: testimonio1;
  background-color: var(--cremita);
  border-radius:4rem 4rem  0 0 ;
  height: auto;
}
.testimonio_2 {
  grid-area: testimonio2;
  background-color: var(--violet);
  border-radius:4rem 4rem  0 0 ;
 height: auto;

}

::global(.testimonio) {
  grid-area: testimonio3;
  grid-row: testimonio1 / testimonio2;
  max-width: 30rem;
  width: calc(100% - 2rem);
    margin: 0 auto;
    height: 100%;

}



  .tesuena :global(.testimonio) {
    background-color:var(--orange);
  }

/* Estilos para DIFERENCIAS */
  
::global(img.pieza__item) {
    transform: rotate(15deg);
}
  


/* Estilos para DONDECOMPRO */
  
  .tesuena :global(.donde-compro h2),
  .tesuena :global(.donde-compro p) {
    color: var(--background-color);
  }


  /* Estilos para HechoEnArgentina */

.argentina_container{
  width: 100%;
  background-color: var(--violet);
  margin: 0 auto;
  display:grid;
  grid-area:argentina;
  grid-auto-columns: 100%;
  grid-template-areas:
  "argentina1"
  "argentina2"
  "argentina3"
  ;
  margin-bottom: -4rem;
}

  .argentina_1 {
  grid-area: argentina1;
  background-color: var(--violet);
 
 height: auto;

}
.argentina_2 {
  grid-area: argentina2;
  background-color: var(--violet-dark) ;
  border-radius:4rem 4rem 0 0 ;
 height: auto;

}




::global(.otros-juegos) {
        padding: var(--padding-fluid);
        text-align: center;
        display: grid;
        gap: 2rem;
        width: 100%;
        background-color: var(--violet-dark);
        margin: 0 auto;
        position: relative;
        grid-area:otrosjuegos;
    }
::global(.juego-item) { 
       background-color: var(--violet-darker);
}
</style>