---
interface Props {
    tituloFichas: string;
    textoFichas?: string;
    tituloTablero: string;
    textoTablero?: string;
    tituloManuales?: string;
    textoManuales?: string;
}

const { 
    tituloFichas = "Fichas",
    textoFichas,
    tituloTablero = "Tablero",
    textoTablero,
    tituloManuales = "Manuales",
    textoManuales
} = Astro.props;
---
<section class="contenidocaja">
    <h2>¿Qué contiene la caja?</h2>
    <div class="contenidocaja__grid">
        <dl>
            <dt>{tituloFichas}</dt>
            {textoFichas && <dd>{textoFichas}</dd>}
        </dl>
        <dl>
            <dt>{tituloTablero}</dt>
            {textoTablero && <dd>{textoTablero}</dd>}
        </dl>
        {tituloManuales && textoManuales && (
            <dl>
                <dt>{tituloManuales}</dt>
                <dd>{textoManuales}</dd>
            </dl>
        )}
    </div>
</section>
