---
import { Image } from 'astro:assets';

interface Props {
    titulo: string;
    bajada: string;
    imagenAlt: string;
    imagen: ImageMetadata;
    flecha: ImageMetadata;
    invertido?: boolean;
}

const { titulo, bajada, imagenAlt, imagen, flecha, invertido = false } = Astro.props;
---

<article class={`diferencia-item ${invertido ? 'invertido' : ''}`} style={`--flecha-url: url('${flecha.src}')`}>
    <div class="contenido">
        <h3>{titulo}</h3>
        <p>{bajada}</p>
    </div>
    <div class="pieza">
        <Image
            src={imagen}
            alt={imagenAlt}
            width={360}
            height={360}
            class="pieza__item"
        />
    </div>
    
</article>

<style>
    .diferencia-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem;
        align-items: center;
        margin: 0 auto;
        max-width: 60rem;
        padding: 4rem 0;
        position: relative;
    }

    .diferencia-item.invertido .contenido {
        grid-column: 2;
    }

    .diferencia-item.invertido .pieza {
        grid-column: 1;
        grid-row: 1;
        
    }

    .contenido {
        text-align: left;
        grid-column: 1;
    }

    .pieza {
        grid-column: 2;
        grid-row: 1;
    }

    .pieza__item {
        width: 100%;
        max-width: 160px;
        height: auto;
    }

    .diferencia-item::after {
        content: var(--flecha-url);
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 30px;
        height: 30px;
    }

    .diferencia-item:nth-of-type(odd)::after {
        transform: translate(-150%, 150%) rotate(45deg) scale(0.5);
    }

    .diferencia-item:nth-of-type(even)::after {
        transform: translate(-150%, 150%) scale(0.5) rotate(-45deg) scaleX(-1);
    }

    .diferencia-item:last-of-type::after {
        display: none;
    }

    @media (max-width: 768px) {
        .diferencia-item {
            grid-template-columns: 1fr;
            gap: 2rem;
            margin: 4rem auto;
        }

        .diferencia-item.invertido .contenido,
        .diferencia-item.invertido .pieza,
        .contenido,
        .pieza {
            grid-column: 1;
           
        }

        .pieza {
            order: -1;
        }
        
        .diferencia-item::after {
            display: none;
        }
    }
</style>
