---
interface Props {
    titulo: string;
    mercadoLibreLink: string;
}

import { Picture } from 'astro:assets';
import whatsappIcon from '../assets/images/whatsapp.png';
import mercadolibreIcon from '../assets/images/mercadolibre.png';

const { titulo, mercadoLibreLink } = Astro.props;
const whatsappNumber = "+5491166280074";
const whatsappLink = `https://wa.me/${whatsappNumber}`;
---
<div class="dondecompro_container">
<section class="donde-compro">
    <h2>{titulo}</h2>
    <p class="bajada">A través de Mercado Libre o venta directa por WhatsApp </p>
    
    <div class="canales">
        <a href={mercadoLibreLink} class="canal" target="_blank" rel="noopener noreferrer">
            <Picture src={mercadolibreIcon} alt="Mercado Libre" 
            widths={[80, 128]}
            sizes="(max-width: 390px) 80px, 128px"
            formats={['webp', 'avif', 'png']}/>
            
        </a>
        
        <a href={whatsappLink} class="canal" target="_blank" rel="noopener noreferrer">
            <Picture src={whatsappIcon} alt="WhatsApp" width="100" height="100" 
            widths={[80, 100]}
            sizes="(max-width: 390px) 80px, 100px"
            formats={['webp', 'avif', 'png'] }   
            />
           
        </a>
    </div>
</section>
</div>

<style>
    .dondecompro_container{ 
       display: grid;
       place-items: center;
    width: 100%; 
    grid-row: dondecompro;
        
    }
    .donde-compro{
        display: grid;
        text-align: center;
        width: calc(100% - 2rem);
        max-width: 36rem;
        gap:1rem;
        margin: 0 auto;
    }

    .canales {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 2rem;
        justify-content: center;
    }

    .canal {
        display: grid;
        place-items: center;
        text-decoration: none;
        color: inherit;
        transition: transform 0.2s ease;
        width:  clamp(100px, 40vw, 200px);
        height: clamp(100px, 40vw, 200px);        
        margin: 0 auto;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .canal:hover {
        transform: translateY(-4px);
    }

    .canal img {
      width: auto;
    }
</style>
