---
import type { GetStaticPaths } from "astro";
import { Image } from 'astro:assets';

interface Props {
    cita: string;
    imagen: ImageMetadata;
    nombre: string;
    cargo: string;
    cargoLink?: string;
}

const { cita, imagen, nombre, cargo, cargoLink } = Astro.props;
---


<div class="testimonio">
    <blockquote class="cita">
        {cita}
    </blockquote>
    <footer class="perfil">
        <Image src={imagen} alt={`Foto de ${nombre}`} />
        <div class="info">
            <p class="nombre">{nombre}</p>
            {cargoLink ? (
                <a href={cargoLink} class="cargo">{cargo}</a>
            ) : (
                <p class="cargo">{cargo}</p>
            )}
        </div>
    </footer>
</div>

<style>
 




    .testimonio {
       
        color: white;
        display: grid;
        gap: 2rem;
        
        border-radius: 2rem;
         margin: 0 auto;
         padding: var(--padding-fluid);
       
    }

    .cita {
        font-family: 'IvyOra Display', serif;
        font-size: clamp(1.5rem, 5vw, 2rem);
        font-weight: 500;
        line-height: 1.4;
        font-style: italic;
        margin: 0;
    }

    .perfil {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        align-items: center;
    }

    .perfil img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid white;
        padding:0.2rem;
    }

    .info {
        display: grid;
        
    }

    .nombre {
        font-family: 'Komet', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
        color: white;
    }

    .cargo {
        font-family: 'Komet', sans-serif;
        font-size: 1rem;
        font-weight: 200;
        margin: 0;
        color: white;
        
    }

    .indo a {
        
        text-decoration: none;
    }

    .info a:hover {
        text-decoration: underline;
    }
</style>
